/* -----SECTION CONTACT-US----- */

.contact-us-main-row {
  padding: 5rem 0;
  display: flex;
  flex-direction: row;
  min-height: 90vh;
  background-image:
    linear-gradient(#ffffffab, #ffffff9e),
    url(../css/img/background-image.png);
  background-size: contain;
  }

/* -----CONTACT INVITATION AND PHOTOS (LEFT SIDE)----- */
.contact-invitation-and-photos {
  flex: 0 0 60%;
}

.contact-us-col {
  max-width: 90rem;
  margin: 3rem auto 5rem auto;
  transform: translateX(6rem);
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8rem;
}

.contact-us-col h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 1rem;
  color: #6d6b6b;
  position: relative;
  display: inline-block;
}

.contact-us-col h1::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8px;
  width: 50%;
  height: 3px;
  background: #b78833;
}

.contact-us-description {
  font-size: 2rem;
  text-align: justify;
  text-indent: 3rem;
  color: #393838;
  line-height: 3.5rem;
  font-weight: 500;
}

.contact-us-photos-div-row {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.contact-us-photos-div-row img {
  width: calc(50% - 1.5rem);
  max-width: 30rem;
  height: auto;
  border-radius: 5px;
}

.img-left {
  transform: translateY(-30px);
}

.img-right {
  transform: translateY(30px);
}

/* -----CONTACT-US-FORM SECTION (RIGHT SIDE)----- */
.form-contact-us-main {
  min-width: 32rem;
  background-color: #dcdee3;
  border-top-left-radius: 6rem;
  border-bottom-left-radius: 6rem;
  padding: 5rem;
  flex: 0 0 40%;
  transition: all 0.3s ease;
}

.form-contact-us-main:hover {
  transform: translateY(-1px);
  box-shadow: 0 1.2rem 3rem #00000014;
}

.form-group-col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 70rem;
}

.form-ion-icon-and-data-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  line-height: 4rem;
}

.form-ion-icon-and-data-row h3 {
  font-size: 2.3rem;
  font-weight: 600;
}

.form-ion-icon-and-data-row p {
  font-size: 2.3rem;
}

.form-ion-icon-and-data-row a {
  color: #000;
}

.form-ion-icon-and-data-row ion-icon {
  font-size: 2.5rem;
  color: #000;
  background-color: #ebbb62;
  border-radius: 9px;
  padding: 0.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group label {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

input,
textarea {
  outline: none;
  font-family: "Montserrat", sans-serif;
  padding: 1.5rem;
  background-color: #fff;
  color: #333;
  border-radius: 2rem;
  border: none;
  width: 100%;
  border: 0.4px solid transparent;
}

.form-group textarea {
  height: 20rem;
  max-height: 30rem;
  resize: vertical;
}

.form-group input,
.form-group textarea {
  transition: all 0.4s;
}
.form-group input:focus,
.form-group textarea:focus {
  border: 1px solid #475569;
  box-shadow: 0 0 0 2px #47556933;
  transform: scale(1.01);
}

.form-group input:focus::placeholder,
.form-group textarea:focus::placeholder {
  color: #475569;
  transform: scale(1.01);
}

.form-button {
  display: block;
  align-self: center;
}

.btn-submit {
  background: linear-gradient(135deg, #c89b3c, #a67c2a);
  border: 1px solid #a67c2a;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  color: #fff;
  border: none;
  height: 4rem;
  width: 15rem;
  padding: 0.9rem;
  font-size: 1.6rem;
  border-radius: 23px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  transition: all 0.4s ease;
}

.btn-submit:hover {
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem #00000026;
  background: #fff;
  color: black;
}

.btn-submit:active {
  transform: translateY(3px);
  box-shadow: 0 0.5rem 1rem #0000001f;
}

