/* ----SECTION-HERO---- */

.hero {
  position: relative;
  width: 100%;
  height: 45vh;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    135deg,
    #000000e7 0%,
    /* czarny */ #00000099 40%,
    /* pół przezroczysty */ #b789335f 100% /* złoty */
  );
  z-index: 1;
}

.hero-text {
  position: absolute;
  left: 8rem;
  bottom: 5rem;
  color: #fff;
  z-index: 3;
  line-height: 5rem;
}

.hero-text h1 {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.hero-text p {
  font-size: 2.2rem;
  font-weight: 400;
}

.hero-span-bold {
  font-weight: 700;
}

/* -- SECTION-EXPERIENCE -- */

.experience-section {
  background-color: #dcdee3;
  padding-top: 5rem;
}

.experience {
  background-color: #fff;
  margin: 0 auto;
  padding: 5rem;
  max-width: 85rem;
  border: 1px solid black;
  border-radius: 10px;
}

.experience-title {
  font-weight: 400;
  font-size: 4rem;
  line-height: 5rem;
}

.experience-intro {
  font-weight: 400;
  font-size: 2rem;
  padding: 2rem 0;
  line-height: 4rem;
}

.exp-bold {
  font-weight: 600;
}

.experience-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 50rem;
  gap: 3rem;
}

.exp-item {
  width: 30rem;
  height: 6rem;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2rem 2rem 2rem 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
}

.exp-item::before {
  position: absolute;
  content: "";
  background: linear-gradient(135deg, #ebbb62, #b78833);
  width: 4px;
  height: 80%;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  border-radius: 10px;
}

.experience-section h4 {
  font-size: 1.8rem;
  color: #b78833;
  font-weight: 500;
  padding-bottom: 3rem;
  position: relative;
}

.experience-section h4::after {
  position: absolute;
  content: "";
  background: linear-gradient(135deg, #b78833, #ebbb62);
  width: 400px;
  height: 2px;
  left: 30rem;
  top: 15%;
  border-radius: 10px;
}

/* -- SECTION-GALLERY -- */

.gallery {
  background-color: #dcdee3;
  padding: 5rem 5rem;
}

.gallery-cards-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6rem;
  max-width: 170rem;
  margin: 0 auto;
}
.gallery-card {
  background-color: #fff;
  height: 65rem;
  flex: 1 0 calc(33% - 5rem);
  border-radius: 1.5rem;
  padding: 3rem;
  transition: all 0.4s ease;
}

.gallery-card:hover {
  transform: scale(1.03);
  box-shadow: 0 2rem 4rem #0000003c;
}
.gallery-card img {
  width: 100%;
  border-radius: 1rem;
  max-height: 30rem;
  height: 100%;
}

.gallery h1 {
  padding: 5rem;
  text-align: center;
  font-size: 4.2rem;
  color: #6d6b6b;
  font-weight: 400;
  letter-spacing: 3px;
}

.gallery-card h3 {
  padding: 4rem 1rem;
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
}
.gallery-card p {
  padding: 4rem 1rem;
  font-weight: 400;
  font-size: 3rem;
}
