/* -----SECTION CONTACT-US----- */

.contact-us-main-row {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: row;
  height: 105rem;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.769), rgba(255, 255, 255, 0.85)),
    url(../css/img/tło.png);
  background-size: contain;
}

/* -----CONTACT INVITATION AND PHOTOS (LEFT SIDE)----- */
.contact-invitation-and-photos {
  width: 60%;
}

.contact-us-col {
  max-width: 90rem;
  margin: 3rem 5rem 5rem 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.contact-us-col h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 1rem;
  color: #6d6b6b;
  position: relative;
  display: inline-block;
}

.contact-us-col h1::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8px;
  width: 50%;
  height: 3px;
  background: #b78833;
}

.contact-us-col h2 {
  font-size: 2rem;
  text-align: justify;
  text-indent: 3rem;
  color: #393838;
  line-height: 3.5rem;
  font-weight: 400;
}

.contact-us-photos-div-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6rem;
}

.contact-us-photos-div-row img {
  max-width: 30rem;
  height: auto;
  border-radius: 2rem;
}

.img-left {
  transform: translateY(-30px);
}

.img-right {
  transform: translateY(30px);
}

/* -----CONTACT-US-FORM SECTION (RIGHT SIDE)----- */
.form-contact-us-main {
  width: 40%;
  background-color: #dcdee3;
  border-top-left-radius: 6rem;
  border-bottom-left-radius: 6rem;
  padding-left: 5rem;
  padding-top: 5rem;
}

.form-group-col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 70rem;
}

.form-ion-icon-and-data-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  line-height: 4rem;
}

.form-ion-icon-and-data-row h3 {
  font-size: 2.3rem;
  font-weight: 600;
}

.form-ion-icon-and-data-row p {
  font-size: 2.3rem;
}

.form-ion-icon-and-data-row a {
  color: #000;
}

.form-ion-icon-and-data-row ion-icon {
  font-size: 2.5rem;
  color: #000;
  background-color: #ebbb62;
  border-radius: 9px;
  padding: 0.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group label {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

input,
textarea {
  outline: none;
  font-family: "Montserrat", sans-serif;
  padding: 1.5rem;
  background-color: #fff;
  color: #333;
  border-radius: 2rem;
  border: none;
  width: 100%;
  border: 0.4px solid transparent;
}

.form-group textarea {
  height: 20rem;
  max-height: 30rem;
  resize: vertical;
}

.form-group input,
.form-group textarea {
  transition: all 0.4s;
}
.form-group input:focus,
.form-group textarea:focus {
  border: 1px solid #475569; /* 🔥 steel blue-gray */
  box-shadow: 0 0 0 2px rgba(71, 85, 105, 0.2);
  transform: scale(1.01);
}

.form-group input:focus::placeholder,
.form-group textarea:focus::placeholder {
  color: #475569;
  transform: scale(1.01);
}

.form-button {
  display: block;
  align-self: center;
}
