@media only screen and (max-width: 1450px) {
  html,
  body {
    font-size: 9.5px;
  }
  .hero {
    padding: 5rem 12rem;
    min-height: 60vh;
  }

  .hero::before {
    background: linear-gradient(
      135deg,
      #040404 0%,
      #1d1d1d 20%,
      #d3ba8a5f 100%,
      #ceaf745f 100%
    );
  }

  .projects-section {
    padding: 3rem 2rem;
    gap: 2rem;
  }

  .projects-content {
    flex: 0 0 calc(25% - 1rem);
  }

  .project-cards-row {
    flex: 0 0 calc(75% - 1rem);
  }

  .project-description {
    font-size: 1.45rem;
    margin-bottom: 1rem;
  }

  .project-card-content {
    padding: 2rem;
  }

  .location-div {
    margin-bottom: 1.5rem;
  }

  .single-card img {
    aspect-ratio: 25/11;
  }

  .single-card {
    flex: 0 0 calc(75% - 1rem);
  }

  .single-card-overlay {
    padding: 1.5rem;
    left: 1rem;
    bottom: 1rem;
    max-width: 33%;
  }
}

/* laptops and big tablets - 1024px - 1200px */
@media only screen and (max-width: 1200px) {
  html,
  body {
    font-size: 8.5px;
  }

  .hero {
    padding: 3rem 12rem;
    min-height: 55vh;
  }

  .modal-gallery-content {
    width: 90vw;
    height: 90vh;
    padding: 3rem;
  }

  .gallery-scroll img {
    max-height: 75vh;
  }

  .projects-contact-section {
    padding: 3rem 2rem;
  }

  .projects-contact-banner {
    padding: 3.4rem 7rem;
  }
}

/* tablets 768px - 1023px */
@media only screen and (max-width: 1023px) {
  html,
  body {
    font-size: 7.5px;
  }

  .hero {
    padding: 3rem;
    min-height: 48vh;
  }

  .project-card {
    width: 100%;
  }

  .single-card img {
    aspect-ratio: 25/14;
  }

  .projects-contact-banner {
    padding: 3rem;
  }

  .modal-gallery-content {
    width: 90vw;
    height: 80vh;
    padding: 3rem;
  }
}

/* mobile - phones */
@media only screen and (max-width: 767px) {
  
  .section-label {
    margin-bottom: 1rem;
  }

  .hero-description {
    margin-bottom: 1.5rem;
  }
  .hero-stats {
    gap: 2rem;
  }

  .hero-stat {
    gap: 0.6rem;
    max-width: 16rem;
    width: 100%;
  }

  .hero-stat-text span {
    font-size: 2rem;
  }

  .hero-stat ion-icon {
    font-size: 3.3rem;
  }

  .projects-section {
    padding: 2rem;
    flex-direction: column;
    gap: 0;
  }

  .project-cards-row {
    flex-direction: column;
  }

  .projects-content {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .projects-content img {
    align-self: center;
    margin-bottom: 0;
  }

  .projects-content h2::after {
    left: 50%;
    transform: translateX(-50%);
    bottom: -1rem;
    width: 30vw;
  }

  .projects-content h2 {
    margin-bottom: 2.5rem;
  }

  .projects-description {
    margin-bottom: 1.5rem;
  }

  .project-card-content {
    padding: 1.5rem;
  }

  .location-div {
    padding: 0.8rem 1.4rem;
  }
  .single-card img {
    max-height: 30rem;
  }

  .single-card {
    flex-direction: column;
  }

  .single-card-overlay {
    position: static;
    max-width: 100%;
    background-color: transparent;
  }

  .background-transparent {
    background-color: transparent;
    color: #11151b;
  }

  .projects-contact-button ion-icon {
    width: 2.8rem !important;
    height: 2.8rem !important;
  }
  .projects-contact-banner ion-icon {
    width: 4rem;
    height: 4rem;
  }

  .projects-contact-col {
    display: flex;
    flex-direction: column;
    margin: 0rem 1.5rem;
    max-width: 60vw;
  }

  .projects-contact-banner {
    padding: 1.5rem;
    justify-content: space-between;
  }

  .projects-contact-button {
    padding: 1.8rem 2.2rem;
    line-height: 2.2rem;
    max-width: 17rem;
  }

  .modal-gallery-content {
    width: 90vw;
    height: 75vh;
    padding: 2rem;
  }
}

/* small mobile - phones*/
@media only screen and (max-width: 400px) {
  html,
  body {
    font-size: 7px;
  }

   .modal-gallery-content {
    width: 90vw;
    height: 65vh;
    padding: 2rem;
  }
}
